* {
  box-sizing: border-box;
}

.header {
  background-color: #635854;
  padding: 12px 5px;
  border-bottom: 4px solid #3596f5;
}

.navbar {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  margin: 0; /* отключили внешние отступы*/
  padding: 0; /* отключили внутренние отступы*/
  display: flex;
  text-align: center;
  justify-content: space-between;
}

ul.navbar-menu {
  list-style-type: none;
}

.navbar-item {
  margin: 0 40px;
}

.navbar-link {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  text-decoration: none;
  color: aliceblue;
}

.navbar-contacts {
  trxt-align: right;
}

.navbar-text {
  display: block;
  color: #fff;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
}

.navbar-phone {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}
